/*
=====================================================================
*   Freshpick v2.0 Base Stylesheet
*   url: styleshout.com
*   07-09-2013
=====================================================================

TOC:
a. Webfonts
b. Reset
c. Default Styles
   1. Basic
   2. Typography
   3. Links
   4. Images
   5. Buttons
   6. Forms
d. Grid
e. Others
   1. Clearing
   2. Misc

=====================================================================  */

/* ------------------------------------------------------------------ */
/* a. Webfonts
/* ------------------------------------------------------------------ */

@import url(http://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Domine:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);



/* ------------------------------------------------------------------ */
/* b. Reset
      Adapted from:
      Normalize.css - https://github.com/necolas/normalize.css/
      HTML5 Doctor Reset - html5doctor.com/html-5-reset-stylesheet/
/* ------------------------------------------------------------------ */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
   display: block;
}

audio,
canvas,
video {
   display: inline-block;
}

audio:not([controls]) {
   display: none;
   height: 0;
}

[hidden] { display: none; }

code, kbd, pre, samp {
   font-family: monospace, serif;
   font-size: 1em;
}

pre {
   white-space: pre;
   white-space: pre-wrap;
   word-wrap: break-word;
}

blockquote, q { quotes: &#8220 &#8220; }

blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}

ins {
   background-color: #ff9;
   color: #000;
   text-decoration: none;
}

mark {
   background-color: #DBFF94;
   color: #555;
}

del { text-decoration: line-through; }

abbr[title], dfn[title] {
   border-bottom: 1px dotted;
   cursor: help;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}


/* ------------------------------------------------------------------ */
/* c. Default Styles
      Adapted from:
      Skeleton CSS Framework - http://www.getskeleton.com/
      Typeplate Typographic Starter Kit - http://typeplate.com/
/* ------------------------------------------------------------------ */

/*  1. Basic  ------------------------------------------------------- */

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body {
   background: #fff url(../images/bg.png);
	font: normal 16px/30px "Noticia text", Serif;
	color: #737373;
   -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

/*  2. Typography
       Vertical rhythm with leading derived from 6
--------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
   color: #555;
	font-family: Domine, Serif;
	font-weight: bold; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 48px; line-height: 54px; margin-bottom: 12px;}
h2 { font-size: 30px; line-height: 42px; margin-bottom: 6px; }
h3 { font-size: 24px; line-height: 30px; margin-bottom: 6px; }
h4 { font-size: 21px; line-height: 30px; margin-bottom: 6px; }
h5 { font-size: 18px; line-height: 30px; }
h6 { font-size: 14px; line-height: 30px; }
.subheader { }

p { margin: 0 0 24px 0; }
p img { margin: 0; }
p.lead { font-size: 20px; line-height: 36px; }

em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 11px; line-height: inherit; }

/*	Blockquotes */
blockquote {
/*   margin: 30px 0px;
   padding-left: 40px;
   position: relative;
   border-left: 3px solid #551A8B;*/
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #551A8B;
}
blockquote:before {
   /*content: "\201C";*/
   opacity: 0.25;
   font-size: 80px;
   line-height: 0px;
   margin: 0;
   font-family: Arial, Sans-Serif;

   position: absolute;
   top:  30px;
	left: 0;
}
blockquote p {
   font-family: Georgia, Serif;
   font-style: italic;
   color: #777;
   padding: 0;
   font-size: 18px;
   line-height: 30px;
}
blockquote cite {
   display: block;
   font-size: 12px;
   color: #555;
   font-style: normal;
   line-height: 18px;
}
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited { color: #555; border: none }

/* ---------------------------------------------------------------------
/*  Pull Quotes Markup
/*
    <aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	 </aside>
/*
/* --------------------------------------------------------------------- */
.pull-quote {
   position: relative;
	padding: 18px 30px 18px 0px;
}
.pull-quote:before,
.pull-quote:after {
	height: 1em;
	opacity: 0.25;
	position: absolute;
	font-size: 80px;
   font-family: Arial, Sans-Serif;
}
.pull-quote:before {
	content: "\201C";
	top:  33px;
	left: 0;
}
.pull-quote:after {
	content: '\201D';
	bottom: -33px;
	right: 0;
}
.pull-quote blockquote {
   margin: 0;
}
.pull-quote blockquote:before {
   content: none;
}

/* Abbreviations */
abbr {
	font-variant: small-caps;
	font-weight: 700;
	text-transform: lowercase;
	color: gray;
}
abbr:hover { cursor: help; }

/* drop cap */
.drop-cap:first-letter {
	float: left;
	margin: 0;
	padding: 9px 5px 0 0;
	font-size: 84px;
	font-family: Copperplate;
   line-height: 60px;
	text-indent: 0;
	background: transparent;
	color: inherit;
}

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 11px 0 30px; height: 0; }


/*  3. Links  ------------------------------------------------------- */

a, a:visited {
text-decoration: none;
outline: 0;
color:#551A8B;

-webkit-transition:color .3s ease-in-out;
-moz-transition:color .3s ease-in-out;
-o-transition:color .3s ease-in-out;
transition:color .3s ease-in-out;
}

a:hover, a:focus { color:#c0c0c0; }
p a, p a:visited { line-height: inherit; }


/*  4. List  --------------------------------------------------------- */

ul, ol { margin-bottom: 24px; margin-top: 12px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 6px 0 6px 30px; }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { }
li p { }

/* ---------------------------------------------------------------------
/*  Stats Tab Markup

    <ul class="stats-tabs">
		<li><a href="#">[value]<b>[name]</b></a></li>
	 </ul>

    Extend this object into your markup.
/*
/* --------------------------------------------------------------------- */
.stats-tabs {
   padding: 0;
   margin: 24px 0;
}
.stats-tabs li {
	display: inline-block;
	margin: 0 10px 18px 0;
	padding: 0 10px 0 0;
	border-right: 1px solid #ccc;
}
.stats-tabs li:last-child {
	margin: 0;
	padding: 0;
	border: none;
}
.stats-tabs li a {
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
   border: none;
   color: #444;
}
.stats-tabs li a:hover {
   color:#2F8DBC;
}

.stats-tabs li a b {
	display: block;
	margin: 6px 0 0 0;
	font-size: 13px;
	font-weight: normal;
   color: #737373;
}

/* definition list */
dl { margin: 12px 0; }
dt { margin: 0; color: #551A8B; }
dd { margin: 0 0 0 20px; }

/* Lining Definition Style Markup */
.lining dt,
.lining dd {
	display: inline;
	margin: 0;
}
.lining dt + dt:before,
.lining dd + dt:before {
	content: "\A";
	white-space: pre;
}
.lining dd + dd:before {
	content: ", ";
}
.lining dd:before {
	content: ": ";
	margin-left: -0.2em;
}

/* Dictionary Definition Style Markup */
.dictionary-style dt {
	display: inline;
	counter-reset: definitions;
}
.dictionary-style dt + dt:before {
	content: ", ";
	margin-left: -0.2em;
}
.dictionary-style dd {
	display: block;
	counter-increment: definitions;
}
.dictionary-style dd:before {
	content: counter(definitions, decimal) ". ";
}

/*  5. Images  --------------------------------------------------------- */

img.scale-with-grid {
   max-width: 100%;
   height: auto;
}

img.pull-right { margin: 12px 0px 0px 18px; }
img.pull-left { margin: 12px 18px 0px 0px; }

/*  6. Buttons  --------------------------------------------------------- */

.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
   height: 42px;
   background: #551A8B;
   border: 1px solid #c0c0c0;
	display: inline-block;

	font-family: "Open-sans", Sans-serif;
   font-size: 14px;
	font-weight: bold;
	text-decoration: none;
   letter-spacing: 0;
   color: #fff;
   line-height: 42px;

	cursor: pointer;
   padding-left: 15px;
   padding-right: 15px;
	margin-bottom: 18px;

    -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

   text-shadow: 0 -1px 0 rgba(0,0,0,0.3);

   box-shadow: 0px 1px 2px rgba(0,0,0,0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
   background: #c0c0c0;
   color: #fff;
   border: 1px solid #551A8B;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
   background: #2F8DBC;
   color: #fff;
   border: 1px solid #739900;
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/*  7. Forms  --------------------------------------------------------- */

form { margin-bottom: 24px; }
fieldset { margin-bottom: 24px; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  	display: block;
   padding: 9px 10px;
   margin: 0 0 18px 0;
  	outline: none;

  	font: 13px Sans-serif;
   line-height: 18px;
  	color: #777;

	background: #eaebec;
   border-width: 1px;
	border-style: solid;
   border-color: #DDDFDF;
   vertical-align: middle;
   min-width: 250px;
	max-width: 95%;
}

/* select { padding: 0 } */

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
   border-width: 1px;
	border-style: solid;
   border-color: #cecece;
 	color: #444;

	box-shadow:  0 0 3px #9c6;
}

textarea { min-height: 60px; }

label,
legend {
	display: block;
   margin-bottom: 6px;
	font-weight: bold;
   font-size: 15px;
   line-height: 24px;
   min-height: 30px;
}

select { width: 220px; }

input[type="checkbox"],
input[type="radio"] {
   font-size: 15px;
   color: #737373;
}

input[type="checkbox"] { display: inline; }

label span,
legend span {
	font-weight: normal;
	font-size: 14px;
	color: #444;
}

/* ------------------------------------------------------------------ */
/* d. Grid
   956px grid | col width = 54px | gutter width = 28px
/* ------------------------------------------------------------------ */

.container {
   width: 956px;
   margin: 0 auto;
   padding: 0;
}

/* container clearing */
.container:before,
.container:after {
   content: " ";
   display: table;
}
.container:after {
   clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.container {
   *zoom: 1;
}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
   margin-left: 28px;
   float: left;
}
.grid1  { width: 54px; }
.grid2  { width: 136px; }
.grid3  { width: 218px; }
.grid4  { width: 300px; }
.grid5  { width: 382px; }
.grid6  { width: 464px; }
.grid7  { width: 546px; }
.grid8  { width: 628px; }
.grid9  { width: 710px; }
.grid10 { width: 792px; }
.grid11 { width: 874px; }
.grid12 { width: 956px; }

.first { margin-left: 0; clear: left; }


/* ------------------------------------------------------------------ */
/* e. Others
/* ------------------------------------------------------------------ */

/*  1. Clearing
    (http://nicolasgallagher.com/micro-clearfix-hack/
--------------------------------------------------------------------- */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf { *zoom: 1; }

/*  2. Misc -------------------------------------------------------- */

.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 12px !important; }
.add-bottom { margin-bottom: 24px !important; }
.no-border { border: none; }

.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.pull-left    { float: left; }
.pull-right   { float: right; }

.table td {
   text-align: left;   
}

